/* placeholder classes */
/* Wordpress Default Align */
/* Transitional placeholder class */
/* Box Shadows */
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.125;
}

p,
li {
  line-height: 1.5;
}

.navbar {
  position: absolute;
  display: block;
  width: 100%;
  border-style: solid solid none;
  border-width: 1px;
  border-color: rgba(60, 35, 20, 0.35);
  background-color: transparent;
  box-shadow: none;
  color: #3c2314;
}

.logo {
  position: absolute;
  top: 30px;
  z-index: 1100;
  display: block;
  width: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 45px;
}

@media (max-width: 991px) {
  .logo {
    z-index: 500;
    width: 300px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .logo {
    top: 55px;
    width: 180px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 0px;
  }
}

.logo.bottom {
  position: static;
  display: block;
  width: 200px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  float: none;
}

@media (max-width: 767px) {
  .logo.bottom {
    width: 150px;
  }
}

.navlink {
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px;
  font-family: Oswald, sans-serif;
  color: #f2fae8;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 767px) {
  .navlink {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.navlink:hover {
  background-color: transparent;
  color: #fff;
}

.navlink.w--current {
  font-family: Oswald, sans-serif;
  color: #3cfadc;
}

.navmenu {
  width: 100%;
  border-bottom: 1px none rgba(4, 105, 58, 0.14);
  background-color: transparent;
  text-align: right;
}

@media (max-width: 991px) {
  .navmenu {
    background-color: #004c40;
  }
}

.navmenu.scroll {
  background-color: #004c40;
  box-shadow: none;
}

.main_section {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.42), transparent 50%, rgba(0, 0, 0, 0.69)), url("../images/hero-img5.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.42), transparent 50%, rgba(0, 0, 0, 0.69)), url("../images/hero-img5.jpg");
  background-position: 0px 0px, 50% 17%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

@media (max-width: 991px) {
  .main_section {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("../images/hero-img6-991.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("../images/hero-img6-991.jpg");
  }
}

@media (max-width: 767px) {
  .main_section {
    position: relative;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("../images/hero-img6-767.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("../images/hero-img6-767.jpg");
  }
}

@media (max-width: 479px) {
  .main_section {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("../images/hero-img6-479.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("../images/hero-img6-479.jpg");
  }
}

.why_lasik_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  text-align: center;
}

@media (max-width: 479px) {
  .why_lasik_section {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.container_div {
  display: inline-block;
  width: 80%;
}

@media (max-width: 991px) {
  .container_div {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .container_div {
    text-align: center;
  }
}

.container_div.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container_div.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section_headline {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: Oswald, sans-serif;
  color: #05aa90;
  font-size: 48px;
  line-height: 1.125;
  font-style: normal;
  font-weight: 300;
  text-align: left;
}

@media (max-width: 767px) {
  .section_headline {
    margin-bottom: 30px;
    font-size: 38px;
  }
}

@media (max-width: 479px) {
  .section_headline {
    font-size: 30px;
  }
}

.section_headline.center {
  text-align: center;
}

.section_headline.white {
  color: #fff;
}

.section_headline.dark {
  color: #004c40;
}

.section_text {
  margin-bottom: 30px;
  color: #414141;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-align: left;
}

.section_text.king {
  padding-right: 30px;
  border-right: 5px none rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
  .section_text.king {
    padding-right: 0px;
  }
}

.section_text.white {
  color: #fff;
}

.what_is_lasik {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #d8eeea;
  background-image: url("../images/bg-img.jpg");
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

@media (max-width: 991px) {
  .what_is_lasik {
    background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.36)), url("../images/bg-img.jpg");
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.36)), url("../images/bg-img.jpg");
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}

@media (max-width: 479px) {
  .what_is_lasik {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.blade_free_lasik {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .blade_free_lasik {
    padding-top: 75px;
    padding-bottom: 0px;
  }
}

.lasik_selftest_section {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #f1fae4;
  text-align: center;
}

@media (max-width: 991px) {
  .lasik_selftest_section {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

@media (max-width: 767px) {
  .lasik_selftest_section {
    padding-bottom: 50px;
  }
}

.financing_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #004c40;
  text-align: center;
}

@media (max-width: 991px) {
  .financing_section {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .financing_section {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.locations_section {
  padding: 150px 80px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/contact-img.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/contact-img.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

@media (max-width: 991px) {
  .locations_section {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .locations_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (max-width: 479px) {
  .locations_section {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.locations_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991px) {
  .locations_container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .locations_container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 479px) {
  .locations_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.location_div {
  width: 45%;
  margin: 13px 20px 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@media (max-width: 991px) {
  .location_div {
    width: 45%;
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 479px) {
  .location_div {
    width: 65%;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 479px) {
  .location_div {
    width: 100%;
    margin-bottom: 30px;
  }
}

.location_headline {
  height: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(201, 230, 162, 0.4);
  font-family: Oswald, sans-serif;
  color: #3cfadc;
  font-size: 26px;
  line-height: 1.125;
  font-weight: 300;
}

.address_txt {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}

@media (max-width: 991px) {
  .address_txt {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .address_txt {
    font-weight: 300;
  }
}

.location_phone_link {
  display: block;
  margin-bottom: 30px;
  color: #3cfadc;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

.location_phone_link:hover {
  color: #eefade;
}

.map_div {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.56);
}

.map {
  height: 300px;
}

.footer_section {
  padding: 75px 80px 150px;
  border-top: 1px solid rgba(96, 56, 19, 0.22);
  background-color: #fff;
  background-image: none;
  text-align: left;
}

@media (max-width: 991px) {
  .footer_section {
    padding-right: 57px;
    padding-left: 57px;
  }
}

@media (max-width: 767px) {
  .footer_section {
    padding: 50px 20px 75px;
  }
}

.footer_div {
  width: 40%;
  float: left;
}

@media (max-width: 479px) {
  .footer_div {
    width: 100%;
    margin-bottom: 40px;
  }
}

.footer_text {
  float: none;
  color: #04693a;
  font-size: 12px;
}

.list_column {
  border-left: 5px none rgba(119, 124, 110, 0.18);
  text-align: right;
}

@media (max-width: 991px) {
  .list_column {
    padding-top: 69px;
  }
}

.column_text {
  padding-top: 0px;
  padding-right: 0px;
  text-align: left;
}

@media (max-width: 991px) {
  .column_text {
    padding-top: 0px;
  }
}

.learn_more_btn {
  margin-top: 0px;
  margin-right: 11px;
  padding: 12px 55px 12px 30px;
  border: 2px none #c9e6a2;
  border-radius: 30px;
  background-color: #004c40;
  background-image: url("../images/arrow_white.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 1.125;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 767px) {
  .learn_more_btn {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

.learn_more_btn:hover {
  background-color: #05aa90;
}

.learn_more_btn.top_padding {
  margin-top: 52px;
  background-color: #004c40;
}

@media (max-width: 479px) {
  .learn_more_btn.top_padding {
    margin-top: 0px;
  }
}

.learn_more_btn.lasik_test {
  background-position: 95% 50%;
}

@media (max-width: 479px) {
  .learn_more_btn.lasik_test {
    margin-top: 1px;
    font-size: 12px;
  }
}

.learn_more_btn.bottom_margin {
  margin-bottom: 15px;
}

.left_column {
  padding-left: 0px;
  text-align: left;
}

@media (max-width: 991px) {
  .left_column {
    margin-bottom: 37px;
  }
}

.left_column._2 {
  padding-left: 25px;
}

.right_column {
  text-align: right;
}

.bg_video {
  height: 100%;
  background-image: none;
}

@media (max-width: 767px) {
  .bg_video {
    display: none;
  }
}

.top_phone_div {
  position: static;
  top: 65px;
  right: 0px;
  width: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  float: none;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 991px) {
  .top_phone_div {
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .top_phone_div {
    padding-right: 5px;
  }
}

@media (max-width: 479px) {
  .top_phone_div {
    display: none;
  }
}

.top_phone_div:hover {
  color: #fff;
}

.top_phone_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d6fca3;
  font-size: 28px;
  font-weight: 100;
  text-decoration: none;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 767px) {
  .top_phone_btn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
}

@media (max-width: 479px) {
  .top_phone_btn {
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.top_phone_btn:hover {
  color: #fff;
}

.phone_img {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .phone_img {
    width: 15%;
    margin-right: 5px;
  }
}

.small_phone_btn_text {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  float: none;
  border-bottom: 1px solid rgba(42, 41, 41, 0.43);
  color: #444343;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .small_phone_btn_text {
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-align: center;
  }
}

.phone_btn_big_text {
  display: block;
  margin-top: 5px;
  float: none;
  font-family: Oswald, sans-serif;
  color: #33c099;
  font-size: 26px;
  line-height: 1.125;
  font-weight: 500;
}

@media (max-width: 991px) {
  .phone_btn_big_text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .phone_btn_big_text {
    margin-top: 2px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}

.btn_text_holder {
  text-align: left;
}

.lasik_info_kit_div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  padding-top: 0px;
  padding-bottom: 10px;
  border-top: 1px none rgba(201, 230, 162, 0.25);
  background-color: transparent;
  text-align: center;
}

@media (max-width: 991px) {
  .lasik_info_kit_div {
    display: none;
  }
}

.main_messag_div {
  position: absolute;
  left: 0px;
  bottom: 2%;
  z-index: 50;
  width: 45%;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 48px;
  background-color: transparent;
  background-image: none;
}

@media (max-width: 991px) {
  .main_messag_div {
    left: 0px;
    bottom: 2%;
    width: 50%;
    padding: 24px 24px 24px 23px;
    background-color: transparent;
    background-image: none;
  }
}

@media (max-width: 767px) {
  .main_messag_div {
    width: 100%;
    padding: 10px 10px 5px 15px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .main_messag_div {
    bottom: 15px;
    display: block;
    height: auto;
    padding: 20px 15px 10px;
  }
}

.main_messag_div.mobile {
  top: 30%;
}

@media (max-width: 767px) {
  .main_messag_div.mobile {
    display: none;
  }
}

@media (max-width: 479px) {
  .main_messag_div.mobile {
    position: relative;
    display: block;
    padding-top: 15px;
  }
}

.main_headline1 {
  min-height: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: transparent;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 68px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(23, 23, 23, 0.74);
}

@media (max-width: 991px) {
  .main_headline1 {
    margin-bottom: 15px;
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .main_headline1 {
    margin-bottom: 5px;
    font-size: 28px;
    letter-spacing: 0px;
  }
}

@media (max-width: 479px) {
  .main_headline1 {
    font-size: 24px;
  }
}

.main_headline2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 1.125;
  font-weight: 400;
}

@media (max-width: 991px) {
  .main_headline2 {
    color: #8dc63f;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .main_headline2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .main_headline2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
}

.main_text {
  margin-bottom: 30px;
  padding-right: 71px;
  color: #fff;
  font-size: 22px;
  line-height: 1.125;
  font-weight: 300;
}

@media (max-width: 991px) {
  .main_text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .main_text {
    margin-bottom: 10px;
    padding-right: 0px;
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .main_text {
    font-weight: 300;
  }
}

.schedule_app_btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px 31px 20px 60px;
  border-radius: 30px;
  background-color: #fff;
  background-image: url("../images/main_arrow_icon.png");
  background-position: 10px 50%;
  background-size: 42px;
  background-repeat: no-repeat;
  color: #004c40;
  font-size: 18px;
  line-height: 1.125;
  font-weight: 400;
  text-transform: uppercase;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 991px) {
  .schedule_app_btn {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .schedule_app_btn {
    margin-bottom: 0px;
    padding: 10px 20px 10px 42px;
    background-position: 6px 50%;
    background-size: 30px;
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  .schedule_app_btn {
    margin-bottom: 5px;
  }
}

.schedule_app_btn:hover {
  background-color: #3cfadc;
  color: #004c40;
}

.main_headline3 {
  display: none;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ebfcd5;
  font-size: 50px;
  line-height: 1.125;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .main_headline3 {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .main_headline3 {
    margin-bottom: 30px;
    font-size: 26px;
  }
}

@media (max-width: 479px) {
  .main_headline3 {
    margin-bottom: 0px;
  }
}

.quick_contact_section {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 700;
  width: 400px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(7, 7, 7, 0.31);
  text-align: center;
}

@media (max-width: 991px) {
  .quick_contact_section {
    right: 15px;
    bottom: 15px;
    width: 350px;
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .quick_contact_section {
    position: static;
    width: 100%;
    background-color: #d8eeea;
    box-shadow: none;
  }
}

.quick_form_div {
  width: auto;
  padding-right: 0px;
  float: left;
}

@media (max-width: 991px) {
  .quick_form_div {
    width: 100%;
    padding-right: 0px;
  }
}

.book_img_holder_div {
  position: relative;
  top: 0px;
  right: 0px;
  width: 30%;
  float: right;
}

@media (max-width: 991px) {
  .book_img_holder_div {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 19px;
  }
}

.book_img_div {
  position: absolute;
  left: 0px;
  top: 0px;
}

@media (max-width: 991px) {
  .book_img_div {
    position: static;
  }
}

.quick_form_headline {
  margin-bottom: 25px;
  font-family: Oswald, sans-serif;
  color: #044124;
  font-size: 24px;
  line-height: 1.125;
  font-weight: 100;
  text-align: left;
}

@media (max-width: 991px) {
  .quick_form_headline {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .quick_form_headline {
    text-align: center;
  }
}

.quick_form_headline_bold {
  font-family: Oswald, sans-serif;
  color: #004c40;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .quick_form_headline_bold {
    font-size: 24px;
  }
}

.form_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .form_div {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.review_section {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

@media (max-width: 991px) {
  .review_section {
    padding-bottom: 75px;
  }
}

.testimonials_holder_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .testimonials_holder_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.testimonial_div {
  width: 33%;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

@media (max-width: 991px) {
  .testimonial_div {
    width: 100%;
    margin-bottom: 36px;
  }
}

.testimonial_div.middle {
  border-right: 1px dashed rgba(137, 147, 123, 0.27);
  border-left: 1px dashed rgba(137, 147, 123, 0.27);
}

@media (max-width: 991px) {
  .testimonial_div.middle {
    border-right-style: none;
    border-left-style: none;
  }
}

.testimonials_img {
  margin-bottom: 20px;
}

.testimonials_text {
  color: #567064;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.testimonial_name {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #6da71f;
  line-height: 1.125;
  font-weight: 100;
}

.name_smaller {
  font-size: 18px;
}

.locations_icon_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21.5%;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .locations_icon_div {
    width: 25%;
  }
}

@media (max-width: 479px) {
  .locations_icon_div {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 36px;
    margin-left: 5px;
  }
}

.locations_headline {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 56px;
  line-height: 1.125;
  font-weight: 100;
}

@media (max-width: 991px) {
  .locations_headline {
    font-size: 36px;
  }
}

.scroll_div {
  display: inline-block;
}

@media (max-width: 767px) {
  .scroll_div {
    display: none;
  }
}

.scroll_text {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.74);
  font-weight: 100;
}

.scroll_arrow {
  margin-bottom: 5px;
}

.social_media_div {
  width: 40%;
  float: right;
  text-align: right;
}

@media (max-width: 991px) {
  .social_media_div {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .social_media_div {
    width: 60%;
  }
}

@media (max-width: 479px) {
  .social_media_div {
    width: 100%;
    margin-bottom: 14px;
    text-align: right;
  }
}

.bottom_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: #004c40;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 767px) {
  .bottom_phone {
    font-size: 20px;
  }
}

.bottom_phone:hover {
  color: #05aa90;
}

.bottom_phone_img {
  margin-left: 10px;
}

.social_media_headline {
  color: #576841;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.social_media_btn {
  margin-left: 10px;
  transition: all ease 175ms;
  -webkit-transition: all ease 175ms;
}

.social_media_btn:hover {
  opacity: 0.6;
}

.lasik_test_div {
  width: 60%;
  padding-right: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .lasik_test_div {
    width: 100%;
    float: left;
  }
}

.lasik_test_img_container {
  position: relative;
  width: 40%;
  float: right;
}

@media (max-width: 767px) {
  .lasik_test_img_container {
    display: inline-block;
    float: none;
  }
}

@media (max-width: 479px) {
  .lasik_test_img_container {
    width: 70%;
  }
}

.lasik_test_img_div {
  position: absolute;
  top: -225px;
  right: 0px;
}

@media (max-width: 991px) {
  .lasik_test_img_div {
    position: static;
  }
}

@media (max-width: 767px) {
  .lasik_test_img_div {
    margin-bottom: 21px;
  }
}

.column_video {
  padding-left: 0px;
}

@media (max-width: 991px) {
  .column_video {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .column_video {
    margin-bottom: 50px;
  }
}

.column_video._1 {
  margin-bottom: 43px;
  padding-right: 0px;
  padding-left: 10px;
}

.phone_tagline_mobile_section {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #031a0f;
  text-align: center;
}

@media (max-width: 479px) {
  .phone_tagline_mobile_section {
    display: none;
  }
}

.navbar_scroll {
  position: fixed;
  left: 0px;
  top: 35px;
  right: 0px;
  display: block;
}

@media (max-width: 991px) {
  .navbar_scroll {
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .navbar_scroll {
    display: none;
  }
}

.scroll_btn {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

.scroll_btn:hover {
  color: #c2fa78;
}

.special_section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.image {
  margin-right: 30px;
}

@media (max-width: 991px) {
  .image {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .image-2 {
    margin-bottom: 27px;
  }
}

.vote_text {
  font-family: Oswald, sans-serif;
  color: #ee1717;
  font-size: 44px;
  line-height: 1.125;
}

@media (max-width: 991px) {
  .vote_text {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .vote_text {
    font-size: 34px;
  }
}

.list {
  margin-top: 90px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 991px) {
  .list {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .list {
    padding-left: 17px;
  }
}

.list__item {
  margin-bottom: 10px;
}

.financing_form {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .financing_form {
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .financing_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.special_offer_section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)), url("../images/hero-img5.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)), url("../images/hero-img5.jpg");
  background-position: 0px 0px, 50% 10%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.disclaimer_text_div {
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .disclaimer_text_div {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .disclaimer_text_div {
    margin-top: 10px;
    font-size: 12px;
  }
}

.disclaimer_text {
  color: #7c7c7c;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .disclaimer_text {
    color: #f8f8f8;
    font-size: 11px;
  }
}

html.w-mod-js *[data-ix="slide-left"], html.w-mod-js *[data-ix="slide-left-2"], html.w-mod-js *[data-ix="slide-left-3"], html.w-mod-js *[data-ix="slide-left-4"] {
  opacity: 0;
  -webkit-transform: translate(67px, 0px);
  -ms-transform: translate(67px, 0px);
  transform: translate(67px, 0px);
}

html.w-mod-js *[data-ix="scroll-bounce"] {
  -webkit-transform: translate(0px, -9px);
  -ms-transform: translate(0px, -9px);
  transform: translate(0px, -9px);
}

html.w-mod-js *[data-ix="scroll-navbar-zero"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="slide-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 94px);
  -ms-transform: translate(0px, 94px);
  transform: translate(0px, 94px);
}

.manu_btn {
  transition: 175ms ease all;
  -webkit-transition: 175ms ease all;
}

@media (max-width: 991px) {
  .manu_btn {
    background-color: #fff;
    color: #004c40;
  }
}

@media (max-width: 991px) {
  .manu_btn:hover {
    background-color: #004c40;
    color: #fff;
  }
}

@media (max-width: 991px) {
  .manu_btn.w--open {
    background-color: #3cfadc;
    color: #004c40;
  }
}

.src--loading {
  opacity: 0;
}

.src--loaded {
  animation-name: imageTransition;
  animation-delay: 0;
  animation-duration: 175ms;
  animation-iteration-count: 1;
}

@keyframes imageTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
